@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin: 20px;
    padding: 20px;

}
form h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 2em;
}
form p{
    font-size: 1.5em;
}